<section id="education" class="education-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">references</h3>
          <p class="subtitle-a"></p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-education">
          <div class="card-img">
            <a href="education-single.html"
              ><img src="assets/images/kim.jpg" alt="" class="img-fluid"
            /></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">kristennz.altares@gmail.com</h6>
                <h6 class="category">+63</h6>
              </div>
            </div>
            <h3 class="card-title">
              <a href="education-single.html">Dr. Kristennz Mae Altares</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-education">
          <div class="card-img">
            <a href="education-single.html"
              ><img src="assets/images/eivan.jpg" alt="" class="img-fluid"
            /></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">liongsoneivanclaude@gmail.com</h6>
                <h6 class="category">+63</h6>
              </div>
            </div>
            <h3 class="card-title">
              <a href="https://www.hau.edu.ph">Eivan Claude Liongson</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-education">
          <div class="card-img">
            <a href="education-single.html"
              ><img src="assets/images/aaron.jpg" alt="" class="img-fluid"
            /></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">aaroncastro486@gmail.com</h6>
                <h6 class="category">+63</h6>
              </div>
            </div>
            <h3 class="card-title">
              <a href="https://www.hau.edu.ph">Aaron Joshua Castro</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
