<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/images/carl.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Web Developer.</h3>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                <span>2 October 2001</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                <span>cdgegante@gmail.com</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                <span>+63 921 9768 959</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                <span>21</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>City:</strong>
                <span>Calzadang Bayu, Porac, Pampanga, Philippines</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          I am reliable, hard-working with strong attention to detail and eager
          to learn about new technologies. I am able to work well both on my own
          initiative and as part of a team as well as to travel abroad. An
          enthusiastic and driven learner, I am looking to enhance my practical
          knowledge in the information technology.
        </p>
      </div>
    </div>
    <section id="Social Media" class="Social Media">
      <div class="container">
        <div class="section-title">
          <h2>Social Media</h2>
        </div>

        <div class="row no-gutters">
          <div
            class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
            data-aos="fade-up"
          >
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="232"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p><strong>Instagram:</strong> @gegantecarl</p>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="521"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p><strong>Twitter: </strong> @gegantecarl_</p>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="1453"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p><strong>Facebook: </strong> Carl Gegante</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
